<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/favicon.png}" />
    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>Hello Facebook</title>
</head>
<body>
<h3>Connected to Facebook</h3>

<p>
    You are now connected to your Facebook account.
    Click <a href="/">here</a> to see some entries from your Facebook feed.
</p>
</body>
</html>